.vs/
/*/msvc/Release/
/*/msvc/Debug/
/builds/
/unity-4.0/msvc/Win32_Release_eglib/
/unity-4.1/msvc/Win32_Release_eglib/
/unity-4.2/msvc/Win32_Release_eglib/
/unity-4.3/msvc/Win32_Release_eglib/
/unity-4.5/msvc/Win32_Release_eglib/
/unity-4.0/msvc/x64_Release_eglib/
/unity-4.1/msvc/x64_Release_eglib/
/unity-4.2/msvc/x64_Release_eglib/
/unity-4.3/msvc/x64_Release_eglib/
/unity-4.5/msvc/x64_Release_eglib/
/unity-4.0/msvc/Win32_Debug_eglib/
/unity-4.1/msvc/Win32_Debug_eglib/
/unity-4.2/msvc/Win32_Debug_eglib/
/unity-4.3/msvc/Win32_Debug_eglib/
/unity-4.5/msvc/Win32_Debug_eglib/
/unity-4.0/msvc/x64_Debug_eglib/
/unity-4.1/msvc/x64_Debug_eglib/
/unity-4.2/msvc/x64_Debug_eglib/
/unity-4.3/msvc/x64_Debug_eglib/
/unity-4.5/msvc/x64_Debug_eglib/
