.vs/
/builds/
/*/msvc/Release/
/*/msvc/Debug/
/*/msvc/Win32_Release_eglib/
/*/msvc/Win32_Debug_eglib/
/*/msvc/x64_Release_eglib/
/*/msvc/x64_Debug_eglib/
bin/
obj/
*.suo
*.user
*.tmp_proj
